## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/shaunstewart/Desktop/GW Boot Camp/Module 6 - Python APIs/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cherskiy,RU,68.75,161.30,38.21,93,100,11.56,light rain
1,1,Busselton,AU,-33.65,115.33,42.01,82,0,3.83,clear sky
2,2,Bredasdorp,ZA,-34.53,20.04,57.20,87,100,2.24,overcast clouds
3,3,Lebu,CL,-37.62,-73.65,51.13,91,100,18.70,light rain
4,4,Kapaa,US,22.08,-159.32,84.20,70,20,10.29,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Kapaa,US,22.08,-159.32,84.20,70,20,10.29,few clouds
7,7,Auki,SB,-8.77,160.70,79.34,83,65,3.62,broken clouds
8,8,Ribeira Grande,PT,38.52,-28.70,75.20,88,40,8.05,scattered clouds
14,14,Albany,US,42.60,-73.97,79.00,69,75,6.93,broken clouds
16,16,Mahibadhoo,MV,3.78,72.97,82.29,69,73,2.06,light rain
21,21,Ipixuna,BR,-1.76,-48.80,78.80,83,40,8.05,scattered clouds
23,23,Avarua,CK,-21.21,-159.78,77.00,69,2,12.75,clear sky
26,26,Cayenne,GF,4.93,-52.33,78.80,88,13,11.79,few clouds
30,30,Trairi,BR,-3.28,-39.27,77.52,75,86,11.79,overcast clouds
31,31,Nuevo Progreso,MX,23.17,-97.95,90.00,55,0,4.00,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                261
City                   261
Country                261
Lat                    261
Lng                    261
Max Temp               261
Humidity               261
Cloudiness             261
Wind Speed             261
Current Description    261
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,84.20,few clouds,22.08,-159.32,
7,Auki,SB,79.34,broken clouds,-8.77,160.70,
8,Ribeira Grande,PT,75.20,scattered clouds,38.52,-28.70,
14,Albany,US,79.00,broken clouds,42.60,-73.97,
16,Mahibadhoo,MV,82.29,light rain,3.78,72.97,
21,Ipixuna,BR,78.80,scattered clouds,-1.76,-48.80,
23,Avarua,CK,77.00,clear sky,-21.21,-159.78,
26,Cayenne,GF,78.80,few clouds,4.93,-52.33,
30,Trairi,BR,77.52,overcast clouds,-3.28,-39.27,
31,Nuevo Progreso,MX,90.00,clear sky,23.17,-97.95,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()


    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   261
Country                261
Max Temp               261
Current Description    261
Lat                    261
Lng                    261
Hotel Name             261
dtype: int64

In [15]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather_Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 10.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))